@charset "UTF-8";
/* ----------------------------reset.css---------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: "RBNo2Light";
  src: url(../font/RBNo2Light-Light.ttf);
}

/* -------------------------全域------------------------- */

/* html {
  overflow-x: hidden;
} */

body {
  font-family: "RBNo2Light", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  overflow-x: hidden;
  background: #252525;
}

#wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease-in-out 0s;
  box-shadow: 0px 22px 54px #646464;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

body.footer_down #wrapper {
  transform: translateY(-50px) scale(0.9);
}

body a {
  text-decoration: none;
  /* scroll-behavior: smooth; */
}

body a:hover {
  cursor: pointer;
}

button {
  border: 0;
  background: none;
}

/* -------------------------各區共用----------------------- */

.top, .zone_1 {
  height: 100vh;
  position: relative;
}

/* -------------------------SP NAV----------------------- */

.sp_nav {
  display: none;
}

/* -------------------------TOP區----------------------- */

#main_bg {
  width: 100%;
  background-image: url("../images/bg/top_bg.jpg");
  background-size: cover;
  /* background-position: center bottom;
  padding-bottom: 35%; */
  /* position: relative; */
  background-position: bottom -40px right -3px;
  padding-bottom: 40%;
  padding-top: 50px;
  background-attachment: fixed;
}

#top .main_bg_click {
  background-image: url("../images/bg/top_bgc.jpg");
}

h1 {
  font-size: 9rem;
  font-weight: 550;
  color: #fff;
  text-align: center;
  margin-top: 40px;
  /* margin-right: -35px; */
}

h2 {
  font-size: 5.5rem;
  font-weight: 550;
  color: #174887;
  text-align: center;
  margin: 0 auto 40px;
  border-bottom: 2px solid #174887;
  width: 30%;
}

.h2_bg {
  background: #fff;
}

h3 {
  font-size: 3.3rem;
  font-weight: 550;
  color: #fff;
  text-align: center;
  margin: 0 auto 3%;
  border-bottom: 2px solid #fff;
  width: 10%;
  letter-spacing: .3rem;
}

h4 {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  margin-top: 1%;
}

h5 {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  background: #174887;
  padding: 2px;
  letter-spacing: 1.5px;
}

/* SCROLL */

/* #top_click {
  font-size: 15px;
  position: absolute;
  bottom: 30%;
  left: 48.5%;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #ffffff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#top_click span {
  position: absolute;
  top: 60%;
  left: 27%;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: top_scroll 2s infinite;
  margin-top: 15px;
}

@keyframes top_scroll {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
} */

#top_click {
  padding-bottom: 100px;
  font-size: 1.8rem;
  position: absolute;
  bottom: 7%;
  left: 48.9%;
  z-index: 550;
  display: inline-block;
  transform: translate(0, -50%);
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  opacity: 0;
}

#top_click span {
  position: absolute;
  bottom: 30%;
  left: 46%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: #004191;
  opacity: .7;
}

#top_click span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

#top_click span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  animation: top_click 2.5s infinite;
  background: #418839;
}

@keyframes top_click {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* click + shine 換 top_bg*/

.shine {
  position: relative;
}

.shine:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(-25deg);
  animation: shine .75s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* ------------NAV------------- */

nav {
  background-color: #e9e9e9;
  /* background-color: #252525fc; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 700;
}

nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

nav>ul>li {
  width: 20%;
  /* padding: 0.6% 1% 0.4%; */
  border-right: 1px solid #fff;
  list-style-type: none;
  text-align: center;
}

nav>ul>li>a {
  color: #174887;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
}

nav>ul>li.nav_act {
  background-color: #dfdfdf;
  box-shadow: 1px 1px 2px #ccc;
  transition: all 0.25s ease-in-out;
}

nav>ul>li#logo {
  margin-left: 2px;
  background: transparent;
}

nav>ul>li#logo:hover {
  background: #174887;
  box-shadow: 1px 1px 2px #ccc;
  transition: all 0.25s ease-in-out;
}

nav>ul>li.nav_act>a:before {
  transform: scale(1, 1);
}

nav>ul>li>a:before {
  content: "";
  border-bottom: 3px solid #174887;
  width: 28%;
  position: absolute;
  bottom: 8px;
  left: 36%;
  right: 36%;
  transform: scale(0, 1);
  transition: transform 0.4s;
  z-index: 6;
  overflow-x: hidden;
  color: #fff;
}

.logo {
  width: 13%;
}

.dropdown_fixed {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.7s ease-in-out;
  width: 100%;
  box-shadow: 0px 5px 8px #979797;
  padding: 1px 0;
  background-color: #252525fc;
}

/* ------------bg_support------------- */

.bg_sup_1 {
  width: 100%;
  position: absolute;
  top: -90px;
  left: 0;
  z-index: 500;
}

.bg_sup_2 {
  width: 20%;
  position: absolute;
  left: 0;
  bottom: -380px;
  z-index: 300;
}

.bg_sup_3 {
  position: absolute;
  right: -1%;
  top: 15%;
}

.bg_sup_4 {
  width: 36%;
  position: absolute;
  left: 0%;
  top: 0%;
}

.bg_sup_5 {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 3%;
}

.bg_sup_6 {
  width: 30%;
  position: absolute;
  left: 0%;
  bottom: 20%;
  z-index: -1;
}

/* -------------------------section_1區 (focus)----------------------- */

#zone_1_bg {
  width: 100%;
  /* height: 0; */
  background-image: url("../images/bg/sec_1.jpg");
  background-size: cover;
  /* background-position: center bottom; */
  background-position: 40% 65%;
  padding-bottom: 35%;
  /* padding-top: 50px; */
  padding-top: 8%;
  background-attachment: fixed;
}

/* ------------文章focus區------------- */

#focus_click {
  width: 370px;
  height: 100px;
  position: absolute;
  top: 43%;
  right: 30%;
  z-index: 600;
}

#focus_click p {
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #7e7e7e;
  padding: 5px;
}

#focus_click:hover p {
  color: #000;
}

#focus_click:before, #focus_click:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 0 solid #00ff4c;
  transition: all 0.25s cubic-bezier(1, 0.2, 0.26, 0.7);
  transform: translate(0px, 0px) scale(0.8);
  opacity: 0;
}

#focus_click:before {
  left: 0;
  bottom: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

#focus_click:after {
  top: 0;
  right: 0;
  border-top-width: 1px;
  border-right-width: 1px;
}

#focus_click.click_down:before, #focus_click.click_down:after {
  border: 0 solid #db1b2d;
}

#focus_click:hover:before, #focus_click:hover:after {
  transition: all 2s cubic-bezier(0.14, 1.13, 0, 0.91);
  opacity: 1;
}

/* focus left (x,y) */

#focus_click:hover:before {
  transform: translate(-20px, 45px) scale(1);
  border-bottom-width: 5px;
  border-left-width: 5px;
}

/* focus right (x,y) */

#focus_click:hover:after {
  transform: translate(10px, -15px) scale(1);
  border-top-width: 5px;
  border-right-width: 5px;
}

/* click focus btn */

#focus_click img {
  width: 10%;
  margin-bottom: -25px;
  animation: btn_click 1s infinite;
}

@keyframes btn_click {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -10px);
    opacity: 0;
  }
}

#focus_click:hover img {
  transform: translate(-5px, -8px);
  transition: all .2s ease-in-out;
}

#focus_click p::after {
  content: attr(show);
  color: #ffffff00;
  position: absolute;
  top: 40%;
  left: 40%;
}

#focus_click:hover p::after {
  transition: all .2s ease-in 3s;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #174887;
  text-shadow: 1px 1px 2px #7f7f7f;
  font-style: italic;
  background: #ffffffeb;
  border-radius: 5px;
  padding: 8px 11px 8px 8px;
}

/* gotop */

#gotop {
  position: fixed;
  bottom: 4%;
  right: 2%;
  cursor: pointer;
  z-index: 9999;
}

#gotop img {
  width: 40px;
  height: 40px;
  transform: scale(0.9);
}

#gotop:hover img {
  transition: all .2s ease;
  transform: scale(1.15);
  /* filter: brightness(1.2); */
  /* border: 2px solid #000000; */
  border-radius: 50px;
  background: #174887;
  opacity: .7;
}

/* -------------------------section_2區 (photo)----------------------- */

.zone_2 {
  position: relative;
  background-color: #fff;
  /* height: 1500px; */
  padding-top: 8%;
  /* margin-bottom: 10%; */
}

.album {
  width: 80%;
  margin: auto;
}

/* album */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.gallery::after {
  /* 處理最後一行 */
  content: '';
  flex-grow: 999999999;
}

.gallery div {
  width: 19%;
  flex-grow: 1;
  margin: 0.5%;
  background-color: rgb(170, 170, 170);
  /* height: 200px; */
  z-index: 350;
  overflow: hidden;
  border-radius: 5px;
}

.gallery img {
  width: 200px;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  transition: all .3s ease-in-out;
  transform: scale(1) rotate(0);
}

.gallery a:hover {
  background: black;
  transition: 0.5s;
  opacity: 0.7;
  transform: scale(1);
}

.gallery a:hover img {
  transform: scale(1.2) rotate(5deg);
}

/* filter btn*/

.select_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* position: relative; */
}

.select_btn button {
  z-index: 400;
  margin: 5px;
}

.select_btn button img {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #979797;
}

.select_btn button:hover img {
  box-shadow: none;
  transition: all .1s ease-in-out;
  cursor: pointer;
  transform: translate(1px, 1px);
}

.select_btn button:focus {
  outline: none;
}

#filters .point {
  width: 400px;
  margin: auto;
  position: relative;
}

#filters .point img {
  width: 10%;
  position: absolute;
  top: -70px;
  left: -55px;
  animation: filter_click 1s infinite;
  z-index: 600;
}

@keyframes filter_click {
  0% {
    transform: scaleX(-1) rotateZ(-35deg) translate(-15px, 5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleX(-1) rotateZ(-35deg) translate(-35px, -5px);
    opacity: 0;
  }
}

/* case_card */

.case_card {
  display: block;
  margin: 5% auto;
  width: 100%;
  height: auto;
  max-width: 1800px;
  column-count: 3;
  max-height: 3500px;
  filter: grayscale(1);
  transition: all .3s ease-in-out;
}

/* click + circle */

.open {
  position: relative;
}

.open:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3000;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: circle .75s;
}

/* .case_card:hover:before { */

/* .open:hover:before {
  animation: circle .75s;
} */

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

/* -------------------------section_3區 (graphic)----------------------- */

.zone_3 {
  height: 650px;
  margin-bottom: 5%;
  padding-top: 10%;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  height: 350px;
  padding-top: 60px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  /* margin-top: 50px; */
  margin-top: 1%;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #174887;
}

.inframe {
  margin: 0 10px;
  flex: 1;
  flex-direction: column;
  height: 280px;
}

.inframe img {
  filter: grayscale(90%);
  /* filter: brightness(100%); */
  transition: .4s ease-in-out;
  outline: 5px solid #fff;
}

.inframe:hover img {
  filter: grayscale(0%);
  filter: brightness(110%);
  transform: scale(1.3);
  outline: 10px solid #fff;
}

/* -------------------------section_區 (web)----------------------- */

.zone_4 {
  position: relative;
  padding-top: 10%;
  margin-bottom: 7%;
}

.web_case {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 1%;
  overflow: hidden;
  z-index: 10;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  /* -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s; */
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  border: 1px solid #ccc;
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.content:hover img {
  transform: scale(1.25);
  opacity: .2;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  /* -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  /* -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s; */
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h4 {
  padding: 2px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background: #174887;
}

.content-details p {
  color: #174887;
  font-size: 1em;
  letter-spacing: 1.5px;
  background: #fff;
  font-weight: 600;
}

.fadeIn-bottom {
  top: 80%;
}

/* -------------------------footer----------------------- */

.footer {
  position: relative;
}

.footer p {
  padding: 20px;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  background: #252525;
  line-height: 50px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

/* -------------------------footer bottom----------------------- */

#footer_bottom {
  width: 90%;
  /* max-width: 1440px; */
  margin: 3% auto 5%;
  text-align: center;
  height: 450px;
  position: relative;
}

.final_sec {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;
}

/* --------------------skill------------------ */

.my_skill {
  width: 95%;
  margin: 1% auto 1%;
  display: flex;
}

.skill_content {
  width: 50%;
  margin: 1% 5% 1% 0;
}

.skill_content p {
  color: #fff;
  letter-spacing: .3rem;
  line-height: 1.8rem;
  text-align: left;
  padding: 0% 6%;
}

.skill_chart {
  width: 45%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bar-chart {
  background: #323232;
  position: relative;
  height: 1.3rem;
  margin-bottom: 1.3rem;
  border-radius: 5px;
}

.bar-chart .bar-chart--inner {
  background: #333;
  height: 100%;
  display: block;
  margin-bottom: .3rem;
  position: relative;
  will-change: width;
  border-radius: 5px;
}

.bar_name:after {
  content: attr(name);
  position: absolute;
  top: 0;
  right: 1%;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.bar-chart .bar-chart--inner:after {
  position: absolute;
  top: 0;
  right: 0;
  content: attr(data);
  width: 2rem;
  height: 100%;
  color: #fff;
  font-weight: bolder;
  background: #00000047;
}

.bar-chart:first-child .bar-chart--inner {
  background: #d65940;
}

.bar-chart:nth-child(2) .bar-chart--inner {
  background: #2490e2;
}

.bar-chart:nth-child(3) .bar-chart--inner {
  background: #e6c408;
}

.bar-chart:nth-child(4) .bar-chart--inner {
  background: #09a9c5;
}

.bar-chart:nth-child(5) .bar-chart--inner {
  background: #f76f30;
}

.bar-chart:nth-child(6) .bar-chart--inner {
  background: #1b627f;
}

.bar-chart[animated] .bar-chart--inner {
  transition: width 1.3s;
  background-image: linear-gradient(135deg, #ffffff26 15%, transparent 15%, transparent 30%, #ffffff26 30%, #ffffff26 45%, transparent 45%, #ffffff26 60%, transparent 60%, #ffffff26 75%, #ffffff26 75%, transparent 75%, #ffffff26 90%, transparent 90%, #ffffff26);
}

/* -------------------------Final Click----------------------- */

.final_click {
  width: 100%;
  height: 50px;
  padding: 10px;
  position: relative;
}

#footer_bottom a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

#footer_bottom a:hover span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  background: #164885;
}

#footer_bottom a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.final_click a span[data-aos][data-aos-delay="9000"] {
  transition-delay: 9s;
}

/* -------------------------THANK YOU----------------------- */

#tk {
  font-size: 5rem;
  line-height: 430px;
  letter-spacing: 0.3rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  /* transform: rotateX(180deg); */
  background: #252525;
  height: 465px;
  width: 100%;
}

.flip {
  transition: all .5s ease;
  transform: rotateX(-180deg);
}

/*=================================== RWD ===================================*/

/* -------------------------PC----------------------- */

@media screen and (min-width: 1409px) {}

/* -------------------------PAD----------------------- */

/* @media screen and (min-width: 768px) and (max-width: 1408px) { */

@media screen and (max-width: 1408px) {
  body.footer_down #wrapper {
    transform: translateY(-50px);
  }
  #wrapper {
    position: relative;
    /* overflow-x: hidden; */
  }
  /* ------------------ font ---------------- */
  h1 {
    font-size: 8rem;
    margin-top: 17%;
    padding-top: 0%;
  }
  h2 {
    font-size: 5rem;
    margin-top: 10%;
    width: 40%;
  }
  .h2_mt {
    margin-top: 15%;
  }
  h4 {
    font-size: 1.3rem;
  }
  /* ------------------ sup_bg ---------------- */
  .bg_sup_1 {
    top: 55%;
  }
  .bg_sup_2 {
    bottom: -250px;
    width: 25%;
  }
  .bg_sup_3 {
    width: 90%;
  }
  /* ------------------ TOP區 ---------------- */
  #main_bg {
    background-position: center bottom;
    padding-top: 4%;
    padding-bottom: 86%;
    /* background-attachment: inherit; */
  }
  #top_click {
    bottom: 8%;
    /* padding-bottom: 0px; */
    padding-bottom: 70px;
  }
  #top_click span {
    /* bottom: 175%; */
    bottom: 5%;
  }
  nav {
    bottom: 0%;
    top: auto;
  }
  /* -------------section_1區 (focus)----------- */
  #zone_1_bg {
    padding-top: 10%;
    padding-bottom: 90%;
    background-attachment: inherit;
  }
  #focus_click {
    top: 33%;
    right: 13%;
    width: auto;
    height: auto;
  }
  #focus_click p {
    font-size: 1.2rem;
    color: #000000;
    padding: 18px;
    background: #ffffff59;
    border-radius: 10px;
    line-height: 35px;
    letter-spacing: 4px;
    width: 490px;
  }
  #focus_click.click_down:before, #focus_click.click_down:after {
    border: 0 solid #00ff4c;
  }
  /* -------------section_2區 (photo)----------- */
  .zone_2 {
    padding-top: 15%;
  }
  /* -------------section_3區 (graphic)----------- */
  .zone_3 {
    padding-top: 15%;
  }
  /* -------------section_4區 (web)----------- */
  .zone_4 {
    padding-top: 15%;
  }
  .content {
    width: 30%;
  }
  /* -------------footer_bottom----------- */
  #footer_bottom {
    display: block;
    margin: 7% auto 12%;
    height: 500px;
  }
  #tk {
    line-height: 530px;
    height: 500px;
  }
  #gotop {
    bottom: 5%;
    right: 7%;
  }
}

/* -------------------------PHONE----------------------- */

@media (max-width: 767px) {
  .top, .zone_1 {
    height: auto;
  }
  /* ------------------ font ---------------- */
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.5rem;
    width: 65%;
  }
  .h2_mt {
    margin-top: 15%;
  }
  h4 {
    font-size: 1rem;
  }
  /* ------------------ sup_bg ---------------- */
  .bg_sup_1 {
    top: 70%;
  }
  .bg_sup_2 {
    bottom: -8%;
    width: 30%;
  }
  /* ------------------ TOP區 ---------------- */
  #main_bg {
    padding-top: 15%;
    padding-bottom: 165%;
  }
  #top_click {
    left: 45%;
  }
  /* #top_click span {
    bottom: 5%;
  } */
  /* ------------------ NAV ---------------- */
  nav>ul>li>a {
    font-size: 1rem;
  }
  .logo {
    width: 30%;
  }
  /* -------------section_1區 (focus)----------- */
  #zone_1_bg {
    background-position: 28% 65%;
    padding-top: 20%;
    padding-bottom: 145%;
    /* background-attachment: fixed; */
  }
  #focus_click {
    top: 35%;
    right: 0;
    left: 0;
  }
  #focus_click p {
    font-size: 1rem;
    padding: 10px 8px 10px 10px;
    line-height: 30px;
    letter-spacing: 1px;
    width: 70%;
    margin: auto;
  }
  #focus_click.click_down:before, #focus_click.click_down:after {
    border: 0 solid #00ff4c;
  }
  /* -------------section_2區 (photo)----------- */
  .zone_2 {
    padding-top: 15%;
  }
  /* -------------section_3區 (graphic)----------- */
  .zone_3 {
    padding-top: 15%;
  }
  /* -------------section_4區 (web)----------- */
  .zone_4 {
    padding-top: 15%;
  }
  .content {
    width: 30%;
  }
  /* -------------footer_bottom----------- */
  #footer_bottom {
    display: block;
    margin: 7% auto 12%;
    height: 500px;
  }
  #tk {
    line-height: 530px;
    height: 500px;
  }
  #gotop {
    bottom: 5%;
    right: 7%;
  }
}

/*---------------------NAV---------------------*/

.gst {
  position: fixed;
  top: 15%;
  left: 5%;
  background: #fff;
  z-index: 5000;
  font-size: 3rem;
}