/* CSS Document */
body{
	background-color:#fffbe7;
	font-family:"微軟正黑體", "新細明體";
	font-weight:bold;
	background-image:url(../image/nggbs_texture_bg.png);
	min-width:1280px;
	}
#topbanner{
	width:100%;
	height:800px;
	background-image:url(../image/topb_back.png);
	max-width:1920px;
	margin: 0 auto;
	}
#CC{
	width: 100%;
	position: relative;
	margin:0 auto;
	text-align:center;
	
	}
#title{
	width: 554px;
	height: 149px;
	position: absolute;
	z-index: 3;
	left: 408px;
	top: 264px;
	}
#goal{width:766px;  height:279px; margin:0 0 10px 40px;background-image:url(../image/goal.jpg);  background-repeat:no-repeat; }	

#gp{ display:block;  width:340px; height:220px; font-size:15px; line-height:1.6em; text-align:justify; margin-left:394px; padding-top:38px; font-weight:normal;}

#ig{ margin:0 auto; text-align:center; }
#money{
	width: 897px;
	height: 414px;
	position: absolute;
	z-index: 5;
	left: 246px;
	top: 84px;
}
#word{
	width: 444px;
	height: 56px;
	position: absolute;
	z-index: 6;
	left: 455px;
	top: 397px;
}	
#goldR{
	width: 64px;
	height: 59px;
	position: absolute;
	z-index: 6;
	left: 762px;
	top: 462px;
}		
	
#nav{
	width:100%;
	height:117px;
	background-color:#0f062c;
	min-width:1280px;
	}
#nav_CC{width:1280px;margin:0 auto;height:117px;
	}
#nav_CC li{
	margin-right:70px;float:left;}
	
#context{
	width:900px;
	margin:0 auto;
	margin-bottom:10px;}
	
#allcontent{width:1280px;margin:0 auto;}	

#bg{ background-color:#FFFFFF; width:765px; margin-left:40px;}

#new{ display:block; width:765px; overflow:hidden; padding:10px 30px 20px 20px;}

#new li{ display:block; width:200px; float:left; list-style:none;font-size:14px; line-height:1.4em; text-align:justify;}

h3{display:block; font-size:15px; line-height:1.6em; width:800px; margin:0 auto; text-align:center;}
.context01box{
	background-color:#B10608;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-top:0px;
	padding-bottom:10px;
	margin-bottom:20px;
	margin-top:10px; }
#course{
	padding:0 10px 0 25px;}
#course li{ width:420px;  background-color:#FFF; margin-right:12px;float:left;padding-bottom:20px; background-color:#FFF; margin-bottom:10px;}
#course li h2{ color:#F30; font-size:25px; text-align:center; font-weight:900;}
#course li h3{ font-weight:normal; line-height:1.4em; display:block; width:350px; height:45px; color:#03C; font-size:15px; text-align:center; margin:5px auto;}
#course li h4{ font-weight:normal; line-height:1.4em; display:block; width:300px; color:#0B0B0B; font-size:14px; text-align:center; margin:0px auto 15px auto;}
#course li p{ font-weight:normal; line-height:1.8em; display:block; width:300px; color:#000; font-size:14px; text-align:justify; margin:5px auto;}
#a01{ display:block; width:70px; background-color: #225ee7; text-decoration:none; color:#FFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:5px; text-align:center; font-size:14px; margin-right:40px; float:left;}

.a02{ display:block; width:100px; background-color: #e7223e; text-decoration:none; color:#FFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:5px; text-align:center; font-size:17px;float:left;}

.num{ display:block; width:120px;  background-color: #e7223e; text-decoration:none; color:#FFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:5px; text-align:center; font-size:17px;float:left;}

#a03{ display:block; width:100px; background-color: #e7223e; text-decoration:none; color:#FFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:5px; text-align:center; font-size:14px;float:left;}
#a04{ display:block; width:100px; background-color: #e7223e; text-decoration:none; color:#FFF;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:5px; text-align:center; font-size:15px;}
#red{ display:block; width:786px; height:450px; background-image:url(../image/red_bg.jpg); background-repeat:no-repeat;
padding:120px 0 0 60px; margin-top:20px;}
#red p{ display:block; width:330px; font-size:15px; color:#FFF; line-height:1.6em; }


#draw_rule{
	width:846px; height:536px; background-image:url(../image/draw_bg.png); margin-bottom:20px;position: relative;}
#iphone{
	width: 315px;
	height: 202px;
	position: absolute;
	left: 576px;
	top: -66px;
}
#draw_rule2{
	width:846px; margin-bottom:20px;}

.context03box{
	background-color:#3d2267;
	border-radius: 20px;
	padding-bottom:40px;
	margin-bottom:20px;}
.context03box p{ display:block; width:760px; color:#FFF; padding:20px 0 0 0; margin:0 auto; line-height:1.8em; font-size:15px;}
#list_left{ width:845px; float:left; margin-right:46px;}
#list_left_bg{background-color: #f45055;}
#list_left p{ display:block; width:600px; height:40px; margin:0 auto; background-color:#f67074; font-size:15px; line-height:45px; margin-bottom:10px; }

.red_list{ width:750px; height:35px; text-align:center; margin:0 auto; position:relative; display:block; border:1px dotted #585858; padding-top:10px;}
.red_list_n{width: 150px; height: 30px; position: absolute; margin-left:70px; margin-right: 50px; float: left;}
.red_list_nt{width: 150px; height: 30px; position: absolute; top:15; left:305px; float:left;}
.red_list_p{width: 150px; height: 30px; position: absolute; float: left; top:15; left:555px;}

#form{ width:900px; height:640px; background-image:url(../image/form_list.png); padding-top:120px;}
#form P{display:block; width:300px; height:40px; margin:0 auto; font-size:20px; line-height:30px;  color:#FF0; font-weight:normal; text-align:center; }
/*下方表單*/

 .down
{
            background-color: #1f1f1f;
            height: 50px;
            width: 100%;
            position: fixed;
            bottom: 0px;
            left: auto;
            right: auto;
            text-align: center;
            _position: absolute;
            _top: expression(offsetParent.scrollTop + document.documentElement.clientHeight - this.offsetHeight);
			z-index:10;
     }

#cirbor{
	background:#B30609;
	padding:6px;
	-webkit-border-radius: 10px;
	/* support firefox */
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#RightName{
	background-image:url(../image/Right_nRB.gif);
	width:194px;
	height:260px;
	position:fixed;
	top: 250px;
	right:0px;
	opacity: 1;
	display: block;
	z-index:9999;
}

#gotop{
	width: 50px;
	height: 50px;
	background-image:url(http://www.ittraining.com.tw/ittraining/images/2016_image/gotop.png);
	position: fixed;/*固定定位*/
	right: 5px;/*右座標*/
	bottom: 5px;/*下座標*/
	text-align: center;/*文字水平置中*/
	line-height: 50px;/*設定跟高一樣就會垂直置中*/
	color:#336066;/*字體顏色*/
	cursor:pointer;/*手指標籤*/
}



.button {
	background-image:url(../image/RB.png);
	width:109px;
	height:120px;
}
.button:hover {
	background-image:url(../image/RB_over.png);
	width:111px;
	height:143px;
	cursor:pointer;/*手指標籤*/
}
