#Lmenu{position:fixed; top:250px; z-index:998;}
.main{
	width: 150px;
	height: 50px;
	position: absolute;
	left: -150px;
	z-index: 1000;
}
#nav{
	position: relative;
	background-color: #333333;
	z-index: 1001;
}
#nav li{
	font-family: 微軟正黑體;
	background-color: #333333;
	position: absolute;
	width: 120px; /*項目底寬*/
	list-style-type: none;
	font-size: 18px;
	cursor: pointer;
	color: #0853A0;
	padding: 5px 5px;
	margin-bottom: 20px;
	border: 2px solid #0853A0;
	left: 0px;
	text-align:center;
}
.main #nav li a{
	color:#fff; 
	text-decoration:none; 
	padding-left:0px; 
	height:200px;
	background:#444;
	width:100px;
}

	
.open{
	background-color: #333;
	color: #fff;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 15px;
	left: 150px;
	padding: 5px;
	z-index: 2;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000;
	width: 30px;
	border: 2px solid #0853A0;
	font-size: 18px;
	text-align: center;
	font-family: 微軟正黑體;
}

/***********最下方推薦課程*************/
#E04{ width:800px; height:115px;  margin:30px auto 30px auto; text-align:center; color:#69737f;  font-size:20px; color:#69737f; }
#E05{ width:751px; height:115; clear:both; margin:-20px auto;}
